@model MvcOnlineTicariOtamasyon.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x=>x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Yeni Kategori Ekle</button>
</form>

