
@{
    ViewBag.Title = "Index5";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<br />
<br />
<h2>Ürün ~ Stok Grafigi [Pie]</h2>
<html lang="en">

<head>

    <title>Ürün ~ Stok Grafigi</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",

                dataType: "json",

                contentType: "application/json",

                url: '@Url.Action("VisualizeUrunResult2", "Grafik")',

                success: function (result) {

                    google.charts.load('current', {

                        'packages': ['corechart']

                    });

                    google.charts.setOnLoadCallback(function () {

                        drawChart(result);

                    });

                }

            });

        });



        function drawChart(result) {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');

            data.addColumn('number', 'Stoklar');

            var dataArray = [];



            $.each(result, function (i, obj) {

                dataArray.push([obj.urn, obj.stk]);

            });

            data.addRows(dataArray);



            var columnChartOptions = {

              

                width: 1200,

                height: 800,

                bar: { groupWidth: "20%" },

            };



            var columnChart = new google.visualization.PieChart(document

                .getElementById('Piechart_div'));



            columnChart.draw(data, columnChartOptions);

        }

    </script>

</head>

<body>

    <div id="Piechart_div"></div>
</body>

</html>


