
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Index2</h2>
<div style="width:1400px;height:1400px">
    <img src="@Url.Action("Index3","Grafik")" />
</div>


