<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Ol</h3>
        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CariAd" Placeholder="Ad" required="" />
                <input type="text" class="name" name="CariSoyad" Placeholder="Soyad" required="" />
                <input type="text" class="name" name="CariSehir" Placeholder="Şehir" required="" />
                <input type="email" class="email" name="CariMail" Placeholder="E-Posta" required="" />
                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum Kabul Ediyorum .</label>
                </div>
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>


