@using MvcOnlineTicariOtamasyon.Models.Sınıflar;
@model List<Urun>  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/thumber/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/thumber/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/thumber/css/magnific-popup.css">
    <link rel="stylesheet" href="~/thumber/css/jquery-ui.css">
    <link rel="stylesheet" href="~/thumber/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/thumber/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/thumber/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/thumber/css/aos.css">
    <link rel="stylesheet" href="~/thumber/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="~/thumber/css/fancybox.min.css">
    <link rel="stylesheet" href="~/thumber/css/swiper.min.css">
    <link rel="stylesheet" href="~/thumber/css/style.css">

</head>
<body>
    <div class="site-wrap">
        <main class="main-content">
            <div class="container-fluid photos">
                <div class="row align-items-stretch">
                    @foreach (var item in Model)
                    {                       
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                        <p style="color:#00ffff">Ürün Ad : @item.UrunAd</p> <p style="color:#f5ff00"> Ürün Model : @item.Marka</p>
                        <a href="@item.UrunGorsel" class="d-block photo-item" data-fancybox="gallery">
                            <img src="@item.UrunGorsel" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <span class="icon icon-search"></span>
                            </div>
                        </a>
                    </div>
                    }
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center py-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div> <!-- .site-wrap -->
    <script src="~/thumber/js/jquery-3.3.1.min.js"></script>
    <script src="~/thumber/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/thumber/js/jquery-ui.js"></script>
    <script src="~/thumber/js/popper.min.js"></script>
    <script src="~/thumber/js/bootstrap.min.js"></script>
    <script src="~/thumber/js/owl.carousel.min.js"></script>
    <!-- <script src="js/jquery.stellar.min.js"></script> -->
    <script src="~/thumber/js/jquery.countdown.min.js"></script>
    <script src="~/thumber/js/jquery.magnific-popup.min.js"></script>
    <script src="~/thumber/js/bootstrap-datepicker.min.js"></script>
    <script src="~/thumber/js/aos.js"></script>
    <script src="~/thumber/js/jquery.fancybox.min.js"></script>
    <script src="~/thumber/js/swiper.min.js"></script>
    <script src="~/thumber/js/jquery.scrollbar.js"></script>
    <script src="~/thumber/js/main.js"></script>
</body>
</html>

